Dominator 4.0
nb_players       4
nb_rounds      200
nb_farmers      20
nb_knights      10
nb_witches       2
farmers_health 100
knights_health 200
farmers_regen   30
knights_regen   30
damage_min      60
damage_max      90
rows            37
cols            37

FIXED

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
X...................................X
X...................................X
X...................................X
X...................................X
X...................................X
X.........XXXXXX.....XXXXXX.........X
X...................................X
X...................................X
X...................................X
X.....X.......................X.....X
X.....X.......................X.....X
X.....X.....XXXX.....XXXX.....X.....X
X.....X.....X...........X.....X.....X
X.....X.....X...........X.....X.....X
X.....X.....X...........X.....X.....X
X...................................X
X...................................X
X.................X.................X
X...................................X
X...................................X
X.....X.....X...........X.....X.....X
X.....X.....X...........X.....X.....X
X.....X.....X...........X.....X.....X
X.....X.....XXXX.....XXXX.....X.....X
X.....X.......................X.....X
X.....X.......................X.....X
X...................................X
X...................................X
X...................................X
X.........XXXXXX.....XXXXXX.........X
X...................................X
X...................................X
X...................................X
X...................................X
X...................................X
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
